<div class="list-container">
    <h2>Seus Benefícios</h2>
    
    <table border="1" style="width: 100%; border-collapse: collapse; margin-top: 1rem;">
      <thead>
        <tr style="background-color: #eee;">
          <th>ID</th>
          <th>Nome do Benefício</th>
          <th>Tipo</th>
          <th>Saldo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of beneficios">
          <td>{{ b.id }}</td>
          <td>{{ b.nome }}</td>
          <td>{{ b.tipo }}</td>
          <td>{{ b.saldo | currency:'BRL' }}</td>
        </tr>
      </tbody>
    </table>
  
    <div style="margin-top: 2rem;">
      <button routerLink="/transferir" style="padding: 10px 20px; cursor: pointer;">
        Efetuar Nova Transferência
      </button>
    </div>
  </div>